<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="500">
	<link href="{{ url_for('static', filename='logod.png', _external=True) }} " rel="icon">
	<link href="{{ url_for('static', filename='logod.png', _external=True) }}" rel="apple-touch-icon">
	<title>500</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='error/css/style.css')}}" />
</head>

<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>500</h1>
			</div>
			<h2>Oops, Le serveur a rencontré une erreur interne. C'est tout ce que nous savons.</h2>
			<form class="notfound-search">
				<input type="text" placeholder="Chercher...">
				<button type="button">Chercher</button>
			</form>
			<a href="{{url_for('projet.accueil')}}"><span class="arrow"></span>Retour à la page d'accueil</a>
		</div>
	</div>
</body>

</html>
