{% extends "layout/coedec.html" %}

{% block meta %}
<meta name="robots" content="index">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="COADEC">
<meta property="og:title" content="Actualités">
<meta name="keywords" content="COADEC, Actualités">
<link href="{{ url_for('static', filename='logod.png', _external=True) }} " rel="icon">
<link href="{{ url_for('static', filename='logod.png', _external=True) }}" rel="apple-touch-icon">

{% endblock meta %}

{% block css %}
<title>Actualités </title>
{%endblock%}


{% block body %}
{% include'element/menu.html'%}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{{url_for('static', filename='coedac/images/image_3.jpg')}}');"
data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-2 bread">Actualités </h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('coedac.accueil')}}">Acceuil <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>Actualités</span></p>
        </div>
    </div>
</div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            {%if actualites.items|length > 0%} 
            {%for actua in actualites.items%}
            <div class="col-md-4">
                <div class="blog-entry">
                    <div class="text">
                        <div class="meta mb-0 pl-md-5">
                            <div><a href="#">{{timeagos(actua.date_pub)}}</a></div>
                            <div><a href="#">{{actua.user_pub.prenom}}</a></div>
							<div><a href="#" class="meta-chat"><span class="fa fa-eye"></span> {{actua.nbr_lu}} </a></div>
                        </div>
                        <h3 class="heading pl-md-5"><a href="{{url_for('coedac.article', slug=actua.slug)}}">{{actua.titre}}</a>
                        </h3>
                    </div>
                    <a href="{{url_for('coedac.article', slug=actua.slug)}}" class="block-20"
                        style="background-image: url('{{url_for('static', filename='publication/{}'.format(actua.url_img))}}');">
                    </a>
                </div>
            </div>
            {%endfor%}
            <br>

        </div>
        {%if actualites.items|length>3%}
        
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {% for page_num in actualites.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if actualites.page==page_num %}
                            <li>
                                <a href="{{ url_for('coedac.predication', page=page_num) }}" class="active">
                                   {{page_num}}</i>
                                </a> 
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ url_for('coedac.predication', page=page_num) }}">
                                    {{page_num}}</i>
                                </a>
                            </li>                       
                            {% endif %}
                        {% else %}
                        ...
                        {% endif %}
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
        {%endif%}

        {%else%}

        <p class="text-center" style="margin-top:100px">
            <br><br><br><br>
            <i class="fa fa-newspaper success fa-5x text-center"></i>
            <h4 class="text-center">AUCUNE ACTUALITE DISPONIBLE .</h4>
            <br><br><br><br><br><br>
        </p>

        {%endif%}
    </div>
</section>
{% endblock body %}

{% block js %}

{% endblock %}