{% extends "layout/coedec.html" %}

{% block meta %}
<meta name="robots" content="index">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="COADEC">
<meta property="og:title" content="Evènement">
<meta name="keywords" content="COADEC, Evènement">
<link href="{{ url_for('static', filename='logod.png', _external=True) }} " rel="icon">
<link href="{{ url_for('static', filename='logod.png', _external=True) }}" rel="apple-touch-icon">

{% endblock meta %}

{% block css %}
<title>Evénement</title>
{%endblock%}


{% block body %}
{% include'element/menu.html'%}

<section class="hero-wrap hero-wrap-2"
    style="background-image: url('{{url_for('static', filename='coedac/images/evenement.jpg')}}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-2 bread">événement </h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('coedac.accueil')}}">Acceuil <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Evénement</span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                {%if evenement.items|length > 0%}
                {%for i in evenement.items%}
                <div class="event-wrap d-md-flex ftco-animate">
                    <div class="img"
                        style="background-image: url({{url_for('static', filename='publication/{}'.format(i.avatar))}});">
                    </div>
                    <div class="text pl-md-5">
                        <h2 class="mb-3"><a data-toggle="modal" data-target="#myModal{{i.id}}">{{i.titre}}</a></h2>
                        <div class="meta">
                            <p>
                                <span><i class="icon-calendar mr-2"></i> {{i.date_even.strftime('%d/%m/%Y')}} -
                                    {{i.date_fin.strftime('%d/%m/%Y')}} (
                                    {%if verification_date(i.date_even, i.date_fin) =='Avant' %}
                                    Avant évènement
                                    {%elif verification_date(i.date_even, i.date_fin) =='Encours' %}
                                    évènement encours
                                    {%else%}
                                    évènement expirée
                                    {%endif%}
                                    )
                                </span>
                                <span><i class="icon-location_city mr-2"></i>{{i.lieu}} </span>
                            </p>
                        </div>
                        <p><a data-toggle="modal" data-target="#myModal{{i.id}} " class="btn btn-primary">Savoir plus</a></p>
                    </div>
                </div>
                {%endfor%}

                {%if evenement.items|length>3%}
        
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                {% for page_num in evenement.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                {% if page_num %}
                                    {% if evenement.page==page_num %}
                                    <li>
                                        <a href="{{ url_for('coedac.evenement', page=page_num) }}" class="active">
                                        {{page_num}}</i>
                                        </a> 
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="{{ url_for('coedac.evenement', page=page_num) }}">
                                            {{page_num}}</i>
                                        </a>
                                    </li>                       
                                    {% endif %}
                                {% else %}
                                ...
                                {% endif %}
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
                {%endif%}




                {%else%}

                <p class="text-center" style="margin-top:100px">
                    <i class="fa fa-calendar success fa-5x text-center"></i>
                <h4 class="text-center">AUCUN EVENEMENT DISPONIBLE .</h4>
                <br><br><br><br><br><br>
                </p>

                {%endif%}
            </div>



            <div class="col-lg-4 sidebar ftco-animate">
                {% include'element/suivez.html'%}

                {%if post_recent!=[]%}
                    {% include'element/post.html'%}
                {%endif%}

            </div>
        </div>
    </div>
</section>

{%for i in evenement.items%}
<div class="modal fade" id="myModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog bg-light modal-lg" role="document">
    <div class="modal-header">
        <h3>Evénément: {{i.titre}}</h3> 
    </div>
    <div class="modal-content">
        <div class="modal-body" style="color: black;">
                {{i.message|safe}}

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>
            
        </div>
    </div>
</div>
</div>
{%endfor%}

{% endblock body %}

{% block js %}

{% endblock %}