{% extends "layout/emi.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='plugins/mp3-audio.css')}} ">
<style>
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%}; 
</style>
{% endblock %}



{% block body %}
<div id="content" class="no-padding">
    
                <!-- section begin -->
                {%if evenements !=[]%}
                <section id="page-events" class="no-padding">
                    <div class="fullwidth">
                        <div class="one-fourth text-center">
                            <div class="title-area wow slideInLeft">
                                <h1>Evènement</h1>
                                <span>A venir</span>
                            </div>
                        </div>
    
                        <div class="three-fourth">
                            <div class="fx custom-carousel-1">
                                {%for i in evenements%}
                                <div class="item">
                                    <div class="overlay">
                                        <span class="time">{{i.date_even.strftime('%d/%m/%Y')}}(
                                                {%if verification_date(i.date_even, i.date_fin) =='Avant' %}
                                                Avant évènement
                                                {%elif verification_date(i.date_even, i.date_fin) =='Encours' %}
                                                évènement encours
                                                {%else%}
                                                évènement expirée
                                                {%endif%}
                                                ) </span>
                                        <a href="#">
                                            <h3>{{i.titre}}</h3>
                                        </a>
                                        <span class="desc">{{i.message|safe}} 
                                        </span>
                                    </div>
                                    <img src="{{url_for('static', filename='publication/{}'.format(i.avatar))}}" alt="">
                                </div>
                                {%endfor%}

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </section>
                {%endif%}
                <!-- section close -->
    
                <!-- section begin -->
                {%if evenements !=[]%}
                <section id="countdown-container" data-speed="5" data-type="background">
                    <div class="container">
                        <div class="row text-center">
                            {%for i in evenements%}
                                {%if loop.index==1%}
                                <div class="col-md-6 wow fadeInLeft">
                                    <h3>{{i.titre}}</h3>
                                    <span class="time">{{date_french(i.date_even)}}</span>
                                </div>
        
                                <div class="col-md-6 wow fadeInRight" data-wow-delay=".25s">
                                        <span>
                                        {%if verification_date(i.date_even, i.date_fin) =='Avant' %}
                                       <h4 style="color:white; font:bold">Evènement {{timeagos(i.date_even)}}</h4>
                                        {%elif verification_date(i.date_even, i.date_fin) =='Encours' %}
                                        <h4 style="color:white; font:bold">Evènement encours</h4>
                                        {%else%}
                                        <h4 style="color:white; font:bold">Evènement expiré</h4>
                                        {%endif%}
                                    </span>
                                        
                                                                        
                                </div>
                                {%endif%}
                            {%endfor%}
                        </div>
                    </div>
                </section>
                {%endif%}
                <!-- section close -->
    
                <!-- section begin -->
                <section id="section-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center wow fadeInUp">
                                <h2>Paroisse CBCA Goma Ouest</h2>
                                <div class="divider-double"></div>
                            </div>
    
                            <div class="col-md-4 wow fadeInRight" data-wow-delay=".5s">
                                <img src="{{url_for('static', filename='cbca/img/misc/pic-1.jpg')}}" class="img-responsive" alt="">
                                <h3>Communauté</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                <br>
                                <br>
                                <a href="#" class="st-btn">Read More</a>
                            </div>
                            <div class="col-md-4 wow fadeInRight" data-wow-delay=".75s">
                                <img src="{{url_for('static', filename='cbca/img/misc/pic-2.jpg')}}" class="img-responsive" alt="">
                                <h3>Mision de l'Eglise</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                <br>
                                <br>
                                <a href="#" class="st-btn">Read More</a>
                            </div>
                            <div class="col-md-4 wow fadeInRight" data-wow-delay="1s">
                                <img src="{{url_for('static', filename='cbca/img/misc/pic-3.jpg')}}" class="img-responsive" alt="">
                                <h3>Vision de la Paroisse</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                <br>
                                <br>
                                <a href="#" class="st-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section close -->
    
                <!-- section begin -->
                {%if media_predication!=[] %}
                <section id="latest-sermons">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center wow fadeInUp">
                                <h2>Prédications</h2>
                                <div class="divider-double"></div>
                            </div>
                            
                            <div class="col-md-10 col-md-offset-1">
                                {%for i in media_predication%}
                                {%if i.type_media=='Audio'%}
                                <div class="custom-col-3 wow flipInX">
                                    <div class="left-col">
                                        <img src="{{url_for('static', filename='audio.png')}}" height="30" width="30" alt="" class="img-responsive">
                                    </div>
                                    <div class="mid-col">
                                        <a href="#">
                                            <h3>{{i.titre}} </h3>
                                        </a>
                                        <div class="details"><span>Par <a href="#">CBCA Goma Ouest </a>, {{date_french(i.date_add)}}</span></div>
                                    </div>
                                    <div class="right-col">
                                        <a href="#" data-toggle="modal" data-target="#largeModal{{i.id}}" ><i class="fa fa-music"></i></a>
                                        <a href="{{i.url_media}}" download><i class="fa fa-download"></i></a>

                                    </div>
                                </div>
                                <div class="modal fade" id="largeModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h4 class="modal-title" id="myModalLabel">{{i.titre}}</h4>

                                            </div>
                                            <div class="modal-body">
                                                <div class="card">
                                                    <div class="card-block">
                                                      <div class="mp3-audio">
                                                        <audio controls class="mp3-auido">
                                                          <source src="{{i.url_media}} " type="audio/mpeg">
                                                                                                              Your browser does not support the audio element.
                                                       </audio>
                                                      </div>
                                                    </div>
                                                  </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                {%else%}
                                <div class="custom-col-3 wow flipInX">
                                    <div class="left-col">
                                        <img src="{{url_for('static', filename='youtube.png')}}" height="30" width="50" alt="" class="img-responsive">
                                    </div>
                                    <div class="mid-col">
                                        <a href="#">
                                            <h3>{{i.titre}} </h3>
                                        </a>
                                        <div class="details"><span>Par <a href="#">CBCA Goma Ouest </a>, {{date_french(i.date_add)}}</span></div>
                                    </div>
                                    <div class="right-col">
                                      <!-- Button trigger modal -->
                                    <a  data-toggle="modal" data-target="#VideoPop{{i.id}} ">
                                        <i class="fa fa-youtube"></i>
                                    </a>
  

                                    </div>
                                </div>

                                
                                {%endif%}
                                
                                
                                {%endfor%}
    

                            </div>
                            
                        </div>
                    </div>
                </section>
                {%endif%}
                <!-- section close -->
    
    
    
                <!-- section begin -->
                <section id="section-text-2" class="no-padding-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
                                <h1>Take Me To Church</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.						
                                </p>
    
                                <p class="wow fadeIn" data-wow-delay='1.5s'>
                                    <img src="{{url_for('static', filename='cbca/img/misc/pic-5.png')}}" alt="">
                                </p>
    
                            </div>
    
                            <div class="col-md-6 wow fadeInUp">
                                <img src="{{url_for('static', filename='cbca/img/misc/pic-4.png')}}" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section close -->
    
                <!-- section begin -->
                <section id="page-blog" class="no-padding">
    
                    <div class="fullwidth">
                        <div class="one-fourth text-center">
                            <div class="title-area wow slideInLeft">
                                <span>Latest</span>
                                <h1>Blog</h1>
                            </div>
                        </div>
    
                        <div class="three-fourth">
                            <div class="custom-carousel-2">
                                <div class="item-blog">
                                    <div class="inner">
                                        <span class="date">10 November</span>
                                        <a href="#">
                                            <h3>Gods goal for you</h3>
                                        </a>
                                        <span class="desc">The Bible says, "Give thanks in everything"  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </span>
                                    </div>
                                </div>
    
                                <div class="item-blog even">
                                    <div class="inner">
                                        <span class="date">9 November</span>
                                        <a href="#">
                                            <h3>The Bible on Campus</h3>
                                        </a>
                                        <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </span>
                                    </div>
                                </div>
    
                                <div class="item-blog">
                                    <div class="inner">
                                        <span class="date">8 November</span>
                                        <a href="#">
                                            <h3>A Faithful Witness</h3>
                                        </a>
                                        <span class="desc">Those who are prepared to witness and sensitive to opportunities the Lord opens up will find occasions on every hand to share Christ.
                                        </span>
                                    </div>
                                </div>
    
                                <div class="item-blog even">
                                    <div class="inner">
                                        <span class="date">7 November</span>
                                        <a href="#">
                                            <h3>Transfoming Live</h3>
                                        </a>
                                        <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </span>
                                    </div>
                                </div>
    
                                <div class="item-blog">
                                    <div class="inner">
                                        <span class="date">6 November</span>
                                        <a href="#">
                                            <h3>Restoring Hope</h3>
                                        </a>
                                        <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </span>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </section>
                <!-- section close -->
    
                <!-- section begin -->
                <section id="section-gallery">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h2>From Gallery</h2>
                                <div class="divider-double"></div>
                            </div>
    
                            <div id="gallery-isotope" class="col-md-12 wow fadeInUp" data-wow-delay=".25s">
                                <div class="item long-pic">
                                    <a href="{{url_for('static', filename='cbca/img/gallery/pic%20(1).jpg')}}" data-gal="prettyPhoto[galllery]"><span class="overlay"></span></a>
                                    <img src="{{url_for('static', filename='cbca/img/gallery/pic%20(1).jpg')}}" alt="">
                                </div>
    
                                <div class="item small-pic">
                                    <a href="{{url_for('static', filename='cbca/img/gallery/pic%20(2).jpg')}}" data-gal="prettyPhoto[galllery]"><span class="overlay"></span></a>
                                    <img src="{{url_for('static', filename='cbca/img/gallery/pic%20(2).jpg')}}" alt="">
                                </div>
    
                                <div class="item wide-pic">
                                    <a href="{{url_for('static', filename='cbca/img/gallery/pic%20(3).jpg')}}" data-gal="prettyPhoto[galllery]"><span class="overlay"></span></a>
                                    <img src="{{url_for('static', filename='cbca/img/gallery/pic%20(3).jpg')}}" alt="">
                                </div>
    
                                <div class="item wide-pic">
                                    <a href="{{url_for('static', filename='cbca/img/gallery/pic%20(4).jpg')}}" data-gal="prettyPhoto[galllery]"><span class="overlay"></span></a>
                                    <img src="{{url_for('static', filename='cbca/img/gallery/pic%20(4).jpg')}}" alt="">
                                </div>
    
                                <div class="item small-pic">
                                    <a href="{{url_for('static', filename='cbca/img/gallery/pic%20(5).jpg')}}" data-gal="prettyPhoto[galllery]"><span class="overlay"></span></a>
                                    <img src="{{url_for('static', filename='cbca/img/gallery/pic%20(5).jpg')}}" alt="">
                                </div>
    
    
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section close -->
    
                <!-- section begin -->
                <section id="section-testimonial">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div id="testi-carousel" class="testi-slider text-center wow fadeInUp">
                                    <div class="item">
                                        <img src="{{url_for('static', filename='cbca/img/testi/pic%20(1).jpg')}}" alt="" class="img-circle">
                                        <blockquote>Blessing theme has a real desire and heart for ministry within the local church</blockquote>
                                        <span class="testi-by">Aline Drummond</span>
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('static', filename='cbca/img/testi/pic%20(2).jpg')}}" alt="" class="img-circle">
                                        <blockquote>I Just wanted to let you know how pleased we are and how great the Blessing theme is working for our National Church </blockquote>
                                        <span class="testi-by">Mortimer Elmo</span>
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('static', filename='cbca/img/testi/pic%20(3).jpg')}}" alt="" class="img-circle">
                                        <blockquote>
                                            Get in touch with Blessing theme today and get ready to see your church grow!
    
                                        </blockquote>
                                        <span class="testi-by">Marina Leopold</span>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section close -->
    
            </div>
            {%for i in media_predication%}
            {%if i.type_media!='Audio'%}
                  <!-- Modal -->
  <div class="modal fade VideoPopup" id="VideoPop{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
            <iframe width="100%" height="600" src="{{i.url_media}} " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  {%endif%}
  {%endfor%}

            
            {%endblock%}

            {% block js %}
            <script>
$(".VideoPopup").on('hidden.bs.modal', function (e) {
    $(".VideoPopup iframe").attr("src",   $(".VideoPopup iframe").attr("src"));
});
    
            </script>
            {%endblock%}