<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
       <a class="navbar-brand" href="{{url_for('projet.accueil')}} "><img height="80px" width="80px"  hspace="10" vspace="10" src="{{url_for('static', filename='eye.jpg')}}" align="left" class="img-thumbnail box-shadow--3dp img-fluid" alt=""> <span style="padding-top: 5px;" >World Eye <br> International</span> </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="oi oi-menu"></span> Menu
       </button>
       <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item active"><a href="{{url_for('projet.accueil')}}" class="nav-link">Home</a></li>
             <li class="nav-item"><a href="{{url_for('projet.apropos')}}" class="nav-link">About Us</a></li>
             <li class="nav-item"><a href="{{url_for('projet.parrainer')}}" class="nav-link">Sponsor a Child</a></li>
             <li class="nav-item"><a href="{{url_for('projet.actualites')}}" class="nav-link">Blog</a></li>
             <li class="nav-item"><a href="{{url_for('projet.contact')}}" class="nav-link">Contact</a></li>
          </ul>
       </div>
    </div>
 </nav>
