<div class="sidebar-box">
    <form action="#" class="search-form">
        <div class="form-group">
            <span class="icon icon-search"></span>
            <input type="text" class="form-control" placeholder="Chercher">
        </div>
    </form>
</div>
<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Our </h3>
        <li><a href=""> Sponsor a child <span class="ion-ios-arrow-forward"></span></a></li>
        <li><a href=""> Donation <span class="ion-ios-arrow-forward"></span></a></li>
        <li><a href="">Campaign donation <span class="ion-ios-arrow-forward"></span></a></li>
    </div>
</div>