{% extends "layout/admini.html" %}
{% block css %}

    <style>
        #team .card {
            border: none;
            background: #ffffff;
        }

        .image-flip:hover .backside,
        .image-flip.hover .backside {
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
            border-radius: 0.25rem;
        }

        .image-flip:hover .frontside,
        .image-flip.hover .frontside {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        .mainflip {
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -ms-transition: 1s;
            -moz-transition: 1s;
            -moz-transform: perspective(1000px);
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transition: 1s;
            transform-style: preserve-3d;
            position: relative;
        }

        .frontside {
            position: relative;
            -webkit-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            z-index: 2;
            margin-bottom: 30px;
        }

        .backside {
            position: absolute;
            top: 0;
            left: 0;
            background: white;
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        }

        .frontside,
        .backside {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -moz-transition: 1s;
            -moz-transform-style: preserve-3d;
            -o-transition: 1s;
            -o-transform-style: preserve-3d;
            -ms-transition: 1s;
            -ms-transform-style: preserve-3d;
            transition: 1s;
            transform-style: preserve-3d;
        }

        .frontside .card,
        .backside .card {
            min-height: 312px;
        }

        .backside .card a {
            font-size: 18px;

        }

        .frontside .card .card-title,
        .backside .card .card-title {
            color: #007b5e !important;
        }

        .frontside .card .card-body img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    </style>

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Les enfants</h3>
            <br>
                <a href="{{ url_for('parrainage.ajouter') }} " class="d-none d-md-inline-block btn btn-md btn-info shadow-md">
                    <i class="fa fa-user text-white-50"></i>
                    Ajouter enfant</a>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Liste des enfants</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                {% with messages= get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert text-center alert-{{ category }}">
                            <b>{{ message }}</b>
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                {% if liste!=[] %}
                    <div class="row">
                        {% for enfant in liste %}
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                    <div class="mainflip">
                                        <div class="frontside">
                                            <div class="card box-shadow--3dp">
                                                <div class="card-body text-center">
                                                    <p>
                                                        <img class=" img-fluid" src="
                                                                                                          {% if enfant.image_rubrique=='image.png' %}
                                                                                                          {{ url_for('static', filename='user.png') }}
                                                                                                          {% else %}
                                                                                                          {{ url_for('static', filename='rubrique/{}'.format(enfant.image_rubrique)) }}
                                                                                                          {% endif %}
                                                            
                                                                                                        " alt="Utilisateur"></p>


                                                        <h4 class="card-title">{{ '{}'.format(enfant.noms) }}</h4>

                                                        <p class="card-text">

                                                            <span class="badge bg-light-primary">{{ age_naissance(enfant.date_de_naissance) }}
                                                                ans
                                                            </span>
                                                        </p>

                                                        <a href="{{ url_for('parrainage.statut', enf_id=enfant.id) }}" class="btn
                                                                                                          {% if enfant.statut==True %}
                                                                                                          btn-primary
                                                                                                          {% else %}
                                                                                                          btn-danger
                                                                                                          {% endif %}
                                                                
                                                                                                           btn-sm">
                                                            <i class="
                                                                                                            {% if enfant.statut==True %}
                                                                                                            fa fa-unlock
                                                                                                            {% else %}
                                                                                                            fa fa-lock
                                                                                                            {% endif %}
                                                                                                            "></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside">
                                                <div class="card">
                                                    <div class="card-body mt-4">
                                                        <h4 class="card-title">{{ enfant.noms }}</h4>
                                                        <p class="card-text">
                                                            {{ enfant.resume|safe }}
                                                        </p>
                                                        <ul class="list-inline text-center">
                                                            <li class="list-inline-item">
                                                                <a href="{{ url_for('parrainage.statut', enf_id=enfant.id) }}" class="btn
                                                                                                                        {% if enfant.statut==True %}
                                                                                                                        btn-primary
                                                                                                                        {% else %}
                                                                                                                        btn-danger
                                                                                                                        {% endif %}
                                                                        
                                                                                                                         btn-sm">
                                                                    <i class="
                                                                                                                          {% if enfant.statut==True %}
                                                                                                                          fa fa-unlock
                                                                                                                          {% else %}
                                                                                                                          fa fa-lock
                                                                                                                          {% endif %}
                                                                                                                          "></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a href="{{ url_for('parrainage.edit', enf_id=enfant.id) }}" class="btn btn-warning btn-sm">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-center" style="margin-top:100px">
                            <i class="fa fa-user success fa-5x text-center"></i>
                            <h4 class="text-center">AUCUN UTILISATEUR .</h4>
                            <br>
                                <br>
                                    <br></p>
                                {% endif %}
                            </div>
                        </div>

                    {% endblock body %}
