{% extends "layout/emi.html" %}

{% block meta %}
<meta name="robots" content="index">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="World Eye International">
<meta property="og:title" content="Sponsor">
<meta name="keywords" content="World Eye International, sponsor">
<link href="{{ url_for('static', filename='logo.png', _external=True) }}" rel="icon">
<link href="{{ url_for('static', filename='logo.png', _external=True) }}" rel="apple-touch-icon">

{% endblock meta %}

{% block css %}
<link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='plugins/select-country/css/bootstrap-select-country.min.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='plugins/flaticon/css/flaticon.css')}}" rel="stylesheet">

<style>

    
    .services-section {
        padding: 0;
    }
    .services {
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        padding: 40px 25px;
    }
    @media(max-width:991.98px) {
        .services {
        padding: 10px 0;
    }
    }.services .icon {
        line-height: 1.3;
        position: relative;
    }
    .services .icon span {
        font-size: 60px;
        color: rgba(0, 0, 0, .2);
    }
    .services .media-body h3 {
        font-size: 22px;
        font-weight: 900;
    }
    @media(min-width:992px) {
        .services.active {
        background: #529850;
        color: #000;
    }
    .services.active .icon span {
        color: #fff;
    }
    }.services:hover, .services:focus {
        background: #ffb400;
        color: #000;
    }
    .services:hover .icon span, .services:focus .icon span {
        color: #fff;
    }
    
    </style>
{% endblock %}

{% block body %}

    {% include 'element/menu.html' %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('{{ url_for('static', filename='emi/images/causes-2.jpg') }}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2">
                        <span class="mr-2">
                            <a href="{{ url_for('projet.accueil') }}">Home
                                <i class="ion-ios-arrow-forward"></i>
                            </a>
                        </span>
                        <span>About
                            <i class="ion-ios-arrow-forward"></i>
                        </span>
                    </p>
                    <h1 class="mb-0 bread">About</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="img ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image:url({{ url_for('static', filename='emi/images/d.jpg') }});"></div>
                </div>
                <div class="col-md-6 col-lg-7 pl-lg-5 py-5">
                    <div class="py-md-5">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                                <span class="subheading">About Us</span>
                                <h2 class="mb-4">Eye World International</h2>
                                <p class="text-justify">  <img height="150px" width="150px"  hspace="10" vspace="10" src="{{url_for('static', filename='eye.jpg')}}" align="left" class="rounded-circle box-shadow--3dp" alt="">
                                    Eye World International, whose name means "world eye international" in English, 
                                    is a non-governmental organization created in 2012 in the city of Lubumbashi, in 
                                    the province of Katanga, whose mission is to provide assistance to all children 
                                    in the world without exception. It intervenes in four key areas: family reunification, 
                                    schooling of orphaned children, accommodation of children in an orphanage and vocational 
                                    training and social integration of young people trained in various jobs. It offers the 
                                    possibility to benefactors to sponsor children they want to help directly. Thanks to 
                                    this, several children have been taken off the streets and returned to school and others 
                                    have been integrated into foster families. Eye World International pursues various 
                                    objectives, including.
                                
                                <p>
                                    <ul>
                                        <li>To provide assistance to orphaned children in difficult situations and separated from their families</li>
                                        <li>To ensure the education of children who have been separated from their families </li>
                                        <li>Facilitate the social integration of abandoned children</li>
                                        <li>Advocate with different partners to mobilize more help for the protection of children</li>
                                    </ul>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services-section py-5 py-md-0 bg-light">
        <div class="container">
           <div class="row no-gutters d-flex">
              <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                 <div class="media block-6 active services d-block">
                    <div class="icon"><span class="fa fa-users"></span></div>
                    <div class="media-body">
                       <h3 class="heading mb-3">Family reunification</h3>
                       <p class="text-justify" > We place children separated from their families in foster families. This provides them with a good environment for their growth. </p>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                 <div class="media block-6 services d-block">
                    <div class="icon"><span class="fa fa-money"></span></div>
                    <div class="media-body">
                       <h3 class="heading mb-3">Empowerment</h3>
                       <p class="text-justify" >We strengthen the economic and social empowerment of young people in order to fight against poverty and make them more useful to the community. .</p>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                 <div class="media block-6 services d-block">
                    <div class="icon"><span class="fa fa-shield"></span></div>
                    <div class="media-body">
                       <h3 class="heading mb-3">Protection</h3>
                       <p>We fight all forms of violence, exploitation and abuse inflicted on children. This is our daily duty, give to children a bright future.</p>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                 <div class="media block-6 services d-block">
                    <div class="icon"><span class="fa fa-graduation-cap"></span></div>
                    <div class="media-body">
                       <h3 class="heading mb-3">Education</h3>
                       <p class="text-justify" >We pay school fees for orphaned children and those formerly living on the streets. We are convinced that education is the right of every child.  </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>

    <section class="ftco-mission">
        <div class="container">
            <div class="row">
                <div class="col-md-4 py-4 py-md-5 ftco-animate">
                    <div class="py-md-4 pb-md-5">
                        <h3 style="font-weight: bold; color: #fd645b;">Mision</h3>
                        <p class="text-justify">The organization pursues its mission to help children in difficult circumstances acquire a good education, have better health and decent housing.</p>
                    </div>
                </div>
                <div class="col-md-4 py-4 py-md-5 ftco-animate">
                    <div class="py-md-4 pb-md-5">
                        <h3 style="font-weight: bold; color: #ffb400;">Vision</h3> 
                        <p class="text-justify" >Eye World International's vision is to build a world where the rights of all the world's children are protected. To date, the organization has been active in the province of Tanganyika and plans to expand its activities to all provinces of the Democratic Republic of Congo. </p>
                    </div>
                </div> 
                <div class="col-md-4 py-4 py-md-5 img" style="background-image: url({{url_for('static', filename='emi/donate/logement.jpg')}})"></div>
            </div>
        </div>
    </section>

    <section class="ftco-hireme bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8 d-flex align-items-center">
                    <div class="w-100 text-center">
                        <h2>
                          The best way to make a difference in the lives of others is to do it differently.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}


{% endblock %}
