{% extends "layout/emi.html" %}

{% block meta %}
<meta name="robots" content="index">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="World Eye International">
<meta property="og:title" content="Blog">
<meta name="keywords" content="World Eye International, Blog">
<link href="{{ url_for('static', filename='logo.png', _external=True) }} " rel="icon">
<link href="{{ url_for('static', filename='logo.png', _external=True) }}" rel="apple-touch-icon">

{% endblock meta %}

{% block css %}
<title>Actualités </title>
{%endblock%}


{% block body %}
{% include 'element/menu.html' %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{{ url_for('static', filename='emi/images/causes-5.jpg') }}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2">
                    <span class="mr-2">
                        <a href="{{ url_for('projet.accueil') }}">Home
                            <i class="ion-ios-arrow-forward"></i>
                        </a>
                    </span>
                    <span>Blog
                        <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
                <h1 class="mb-0 bread">Actus</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            {%if actualites.items|length > 0%} 
            {%for actua in actualites.items%}
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="{{url_for('projet.article', slug=actua.slug)}}" class="block-20" style="background-image: url({{url_for('static', filename='publication/{}'.format(actua.url_img))}});"></a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div>
                                <a href="#">{{actua.date_pub.strftime('%B %d %Y')}} </a>
                            </div>
                            <div>
                                <a href="#">Admin</a>
                            </div>
                            <div>
                                <a href="#" class="meta-chat">
                                    <span class="fa fa-eye">{{actua.nbr_lu}} </span>
                                    </a>
                            </div>
                        </div>
                        <h3 class="heading">
                            <a href="{{url_for('projet.article', slug=actua.slug)}}">{{actua.titre}}</a>
                        </h3>
                        <p>
                            <a href="{{url_for('projet.article', slug=actua.slug)}}" class="btn btn-secondary">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
            {%endfor%}
            <br>

        </div>
        {%if actualites.items|length>3%}
        
        
        


        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {% for page_num in actualites.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if actualites.page==page_num %}
                            <li>
                                <a href="{{ url_for('projet.actualites', page=page_num) }}" class="active">
                                   {{page_num}}</i>
                                </a> 
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ url_for('projet.actualites', page=page_num) }}">
                                    {{page_num}}</i>
                                </a>
                            </li>                       
                            {% endif %}
                        {% else %}
                        ...
                        {% endif %}
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
        {%endif%}

        {%else%}

        <p class="text-center" style="margin-top:100px">
            <br><br><br><br>
            <i class="fa fa-newspaper success fa-5x text-center"></i>
            <h4 class="text-center">No posts</h4>
            <br><br><br><br><br><br>
        </p>

        {%endif%}
    </div>
</section>
{% endblock body %}

{% block js %}

{% endblock %}