{% extends "layout/emi.html" %}

{% block meta %}
<meta name="robots" content="index">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="World Eye International">
<meta property="og:title" content="Donation">
<meta name="keywords" content="World Eye International, Donation">
<link href="{{ url_for('static', filename='logo.png', _external=True) }}" rel="icon">
<link href="{{ url_for('static', filename='logo.png', _external=True) }}" rel="apple-touch-icon">

{% endblock meta %}


{% block css %}
     
<style>
/* --- Card1 ---- */

.Card1 {
  position: relative;
  background: #fff;
  margin: 1em;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  border-radius: 3px;
  height: auto;
  max-width: auto;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
  -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

.Card1 .photo {
  position: relative;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
  float: left;
  height: 100%;
  width: 40%;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url("{{url_for('static', filename='emi/images/bg_2.jpg')}}");
}
.Card1:hover .photo {
  -webkit-transform: rotate(5deg) scale(1.3);-moz-transform: rotate(5deg) scale(1.3);-ms-transform: rotate(5deg) scale(1.3);-o-transform: rotate(5deg) scale(1.3);transform: rotate(5deg) scale(1.3);
}

.Card1 .details {
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  list-style: none;
  margin: 0px;
  padding: 1em;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -100%;
  width: 40%;
}
.Card1:hover .details {left: 0px;}
.Card1:hover .details li{padding: 0.1em;}

.Card1 .description{
  padding: 1em;
  position: relative;
  float: right;
  height: 100%;
  width: 60%;
  z-index: 0;
}
.Card1 .description:before {
  content: "";
  background: #fff;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  -webkit-transform: skewX(-5deg);-moz-transform: skewX(-5deg);-ms-transform: skewX(-5deg);-o-transform: skewX(-5deg);transform: skewX(-5deg);
}

.Card1 .description h1 {
  font-size: 2em;
  padding: 0.5em 0px;
  font-weight: bold;
}
.Card1 .description .line {display: block;height: 5em;}
.Card1 .description .product_name {float: left;}
.Card1 .description .product_price {float: right;color:#4cbc32;}
.Card1 .description h2 {
  color: #9b9b9b;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
}
.Card1 .description p {position: relative;padding: 2em 0px 1em 0.5em;}

.Card1 .description p:after {
  content: "";
  background: #75D13B;
  height: 6px;
  width: 5em;
  position: absolute;
  top: 0.6em;
  left: 0px;
}

.close { cursor: pointer; }.close { cursor: pointer; }



.logotype{background:#000;color:#fff;width:75px;height:75px;  line-height: 75px; text-align: center; font-size:11px;}
.column-title{background:#eee;text-transform:uppercase;padding:15px 5px 15px 15px;font-size:11px}
.column-detail{border-top:1px solid #eee;border-bottom:1px solid #eee;}
.column-header{background:#eee;text-transform:uppercase;padding:15px;font-size:11px;border-right:1px solid #eee;}
.alert{background: #ffd9e8;padding:20px;margin:20px 0;line-height:22px;color:#333}
.socialmedia{background:#eee;padding:20px; display:inline-block}




</style>
{% endblock %}



{% block body %}

{% include 'element/menu.html'%}



<section class="hero-wrap hero-wrap-2" style="background-image: url('{{url_for('static', filename='emi/images/e.jpg')}}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2">
                    <span class="mr-2">
                        <a href="{{url_for('projet.accueil')}}">Home
                            <i class="ion-ios-arrow-forward"></i>
                        </a>
                    </span>
                    <span>Donate
                        <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
                <h1 class="mb-0 bread">Donate</h1>
            </div>
        </div>
    </div>
</section>

<section class="img ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img d-flex align-self-stretch align-items-center" style="background-image:url({{ url_for('static', filename='rubrique/{}'.format(session['image_rub'])) }});"></div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 py-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                            

                                <h3>Donate for cause {{session['noms_rub']}} </h3>
                                <br>
                               <div>{{session['resume']|safe}}</div>

                               <hr>
                                <table width="100%" style="border-collapse: collapse;">
                                  <tr>
                                    <td widdth="50%" style="background:#eee;padding:20px;">
                                      <strong>Date:</strong> {{date_transanction}}<br>
                                      <strong>Payment type:</strong> PayPal<br>
                                    </td>
                                    <td style="background:#eee;padding:20px;">
                                      <strong>E-mail receive:</strong> oeilmondialinter@gmail.com<br>
                                      <strong>Phone:</strong> +243 818002808, 0818846228<br>
                                    </td>
                                  </tr>
                                </table><br>
                                <table width="100%">
                                  <tr>
                                    <td>
                                      <table>
                                        <tr>
                                          <td style="vertical-align: text-top;">
                                            <div style="background: #ffd9e8 url(https://cdn0.iconfinder.com/data/icons/commerce-line-1/512/comerce_delivery_shop_business-07-128.png);width: 50px;height: 50px;margin-right: 10px;background-position: center;background-size: 42px;"></div>   
                                          </td>
                                          <td>
                                            <strong>From</strong><br>
                                            {{session['donateur_rub']}}<br>
                                            {{session['do_adresse_mail']}}<br>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                    <td>
                                      <table>
                                        <tr>
                                          <td style="vertical-align: text-top;">
                                            <div style="background: #ffd9e8 url(https://cdn4.iconfinder.com/data/icons/app-custom-ui-1/48/Check_circle-128.png) no-repeat;width: 50px;height: 50px;margin-right: 10px;background-position: center;background-size: 25px;"></div>   
                                          </td>
                                          <td>
                                            <strong>To</strong><br>
                                            World Eye International <br>
                                            96, Avanue Tshakwiza, Quartier Somika, Commune Annexe, Lubumbashi, Haut-Katanga.<br>
                                            +243 818002808, +243818846228<br> 
                                            inf@wei.org <br>
                                            DRCongo
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table><br>
                                <table width="100%" style="border-top:1px solid #eee;border-bottom:1px solid #eee;padding:0 0 8px 0">
                                  <tr>
                                    <td><h3>Amount donate</h3>We will receive a sum $ {{session['montant']}}  of for the cause {{session['noms_rub']}} <td>
                                      <td>
                                        ŒIL MONDIAL INTERNATIONAL <br>
                                        ACCOUNT BANK : 00018000160 1201601200 29 <br>
                                        CODE SWIFT : PRCBCDKI
                                      </td>
                                  </tr>
                                </table><br>
                               
                               
                                <div class="text-center">
                                    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                    <div id="paypal-button-container"></div>
                         
                                    <script>
                                        var csrf_token = "{{ csrf_token() }}";
                        
                                        paypal.Button.render({
                                          //env: 'sandbox', // Or 'production' 'sandbox'
                                          env: 'production', // Or 'production' 'sandbox'
                                          // Set up the payment:
                                          // 1. Add a payment callback
                                          payment: function(data, actions) {
                                            // 2. Make a request to your server
                                            return actions.request.get("{{url_for('projet.payement_donation',  _external=True)}} ")
                                              .then(function(res) {
                                                // 3. Return res.id from the response
                                                return res.paymentID;
                                              });
                                          },
                                          // Execute the payment: 
                                          // 1. Add an onAuthorize callback
                                          onAuthorize: function(data, actions) {
                                            // 2. Make a request to your server
                                            return actions.request.post("{{url_for('projet.execute_donation',  _external=True)}}", {
                                              paymentID: data.paymentID,
                                              payerID:   data.payerID
                                            }, {
                                                headers: {
                                                    'X-CSRFToken': csrf_token,
                                                }
                                            }
                                            
                                            
                                            )
                                              .then(function(res) {
                                                window.setTimeout(function(){
                                                // Move to a new location or you can do something else
                                                location.replace("{{url_for('projet.donate_conform')}}");
                                                }, 1000); 
                        
                                              });
                                          }
                                        }, '#paypal-button-container');
                                      </script>

                                </div>
                             
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


 {%endblock%}