{% extends "layout/emi.html" %}

{% block meta %}
<meta name="robots" content="index">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="World Eye International">
<meta property="og:title" content="Home">
<meta name="keywords" content="World Eye International, Home">
<meta name="description" content="World Eye International is a humanitarian organization created in 2012 in the city of Lubumbashi where it has its headquarters. The idea of its creation was born after a wave of wars that the Democratic Republic of Congo has known, which has led to massive displacement of populations. Its initiator, the apostle and prophet ESAIE SEBASTIEN KASEBA, had a vision from God to create an NGO whose mission would be to bring help to the people affected by the torments of the repeated wars that the Democratic Republic of Congo has known. With the means at hand and a few donations, the NGO takes care of children in its orphanage and provides schooling to several of them.">
<link href="{{ url_for('static', filename='logo.png', _external=True) }}" rel="icon">
<link href="{{ url_for('static', filename='logo.png', _external=True) }}" rel="apple-touch-icon">

{% endblock meta %}


{% block css %}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"></style>

    {% endblock %}


    {% block body %}

        {% include 'element/menu.html' %}

        {% include 'element/carrousel.html' %}

        <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 order-md-last d-flex align-items-stretch">
                        <div class="donation-wrap">
                            <div class="total-donate d-flex align-items-center" id="c">
                                <span class="fa flaticon-cleaning"></span>
                                <h4>Donation </h4>
   
                                </div>

                                <form action="{{ url_for('projet.donation', nopay='68934a3e9455fa72420237eb05902327') }}" method="POST" class="appointment">
                                    {{ form.csrf_token }}
                                    {% with messages= get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert text-center alert-{{ category }}">
                                                <b>{{ message }}</b>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name">Full Name</label>
                                                <div class="input-wrap">
                                                    <div class="icon">
                                                        <span class="fa fa-user"></span>
                                                    </div>
                                                    {% if form.noms.errors %}
                                                        {{ form.noms(class="form-control form-control is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.noms.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.noms(class="form-control") }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name">Email Address</label>
                                                <div class="input-wrap">
                                                    <div class="icon">
                                                        <span class="fa fa-paper-plane"></span>
                                                    </div>
                                                    {% if form.adresse_mail.errors %}
                                                        {{ form.adresse_mail(class="form-control form-control is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.adresse_mail.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.adresse_mail(class="form-control") }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name">Select Causes</label>
                                                {% if form.cause.errors %}
                                                    {{ form.cause(class="form-control form-control is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.cause.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.cause(class="form-control") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name">Amount</label>
                                                <div class="input-wrap">
                                                    <div class="icon">
                                                        <span class="fa fa-money"></span>
                                                    </div>
                                                    {% if form.montant.errors %}
                                                        {{ form.montant(class="form-control form-control is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.montant.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.montant(class="form-control", placeholder="$10") }}
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                            <br>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <br>
                                                            <br>
                                                                <button type="submit" class="btn btn-secondary py-3 px-4">
                                                                    Donate
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-7 wrap-about py-5">

                                            

                                            <div class="heading-section pr-md-5 pt-md-5">
                                                
                                                 <span class="subheading">Welcome to World Eye International 
                                                </span>
                                                <h2 class="mb-4">We are here to help everyone in need</h2>
                                                <p class="text-justify">
                                                    <img height="150px" width="150px"  hspace="10" vspace="10" src="{{url_for('static', filename='eye.jpg')}}" align="left" class="img-thumbnail box-shadow--3dp" alt=""> World Eye International is a humanitarian organization created in 2012 in the city of Lubumbashi where it has its headquarters. The idea of its creation was born after a wave of wars that the Democratic Republic of Congo has known, which has led to massive displacement of populations.  Its initiator, the apostle and prophet ESAIE SEBASTIEN KASEBA, had a vision from God to create an NGO whose mission would be to bring help to the people affected by the torments of the repeated wars that the Democratic Republic of Congo has known. With the means at hand and a few donations, the NGO takes care of children in its orphanage and provides schooling to several of them.
                                                </p>
                                            </div>

                                            <div class="row my-md-5">
                                                <div class="col-md-6 d-flex counter-wrap">
                                                    <div class="block-18 d-flex">
                                                        <div class="icon d-flex align-items-center justify-content-center">
                                                            <span class="flaticon-volunteer"></span>
                                                        </div>
                                                        <div class="desc">
                                                            <div class="text">
                                                                <strong class="number" data-number="50">0</strong>
                                                            </div>
                                                            <div class="text">
                                                                <span>Childrens</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 d-flex counter-wrap">
                                                    <div class="block-18 d-flex">
                                                        <div class="icon d-flex align-items-center justify-content-center">
                                                            <span class="flaticon-piggy-bank"></span>
                                                        </div>
                                                        <div class="desc">
                                                            <div class="text">
                                                                <strong class="number" data-number="24400">0</strong>
                                                            </div>
                                                            <div class="text">
                                                                <span>Sponsors</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <a href="#" class="btn btn-secondary btn-outline-secondary">Our values</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="ftco-section ftco-no-pt ftco-no-pb">
                                <div class="container">
                                    <div class="row no-gutters">
                                        <div class="col-md-3 d-flex align-items-stretch">
                                            <div class="services">
                                                <div class="text text-center bg-secondary">
                                                    <h3>Serving <br> Without borders</h3>
                                                        <p>We provide assistance to all the children around the world without discrimination.</p>
                                                    </div>
                                                    <div class="img border-2" style="background-image: url({{ url_for('static', filename='emi/child_charity.jpg', _external=True) }});">
                                                        <div class="icon d-flex align-items-center justify-content-center">
                                                            <span class="flaticon-volunteer"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 d-flex align-items-stretch">
                                                <div class="services">
                                                    <div class="text text-center bg-tertiary">
                                                        <h3>Protect <br> Children's rights</h3>
                                                            <p>Children are adorable human beings, their rights have to be respected.</p>
                                                        </div>
                                                        <div class="img border-3" style="background-image: url({{ url_for('static', filename='emi/images/services-3.jpg', _external=True) }}); ">
                                                            <div class="icon d-flex align-items-center justify-content-center">
                                                                <span class="flaticon-piggy-bank"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 d-flex align-items-stretch">
                                                    <div class="services">
                                                        <div class="text text-center bg-primary">
                                                            <h3>Offering <br> Hope</h3>
                                                                <p>Our work consists of motivating children to keep heads up and believe in their future.</p> 
                                                            </div>
                                                            <div class="img border-1" style="background-image: url({{ url_for('static', filename='emi/child_aid.jpg', _external=True) }});">
                                                                <div class="icon d-flex align-items-center justify-content-center">
                                                                    <span class="flaticon-donation"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 d-flex align-items-stretch">
                                                        <div class="services">
                                                            <div class="text text-center bg-quarternary">
                                                                <h3>Children
                                                                    <br>Love God </h3>
                                                                    <p>We guide children on the spiritual path and teach to respect God's rules.</p>
                                                                </div>
                                                                <div class="img border-4" style="background-image: url({{ url_for('static', filename='emi/child_bible.jpg', _external=True) }});">
                                                                    <div class="icon d-flex align-items-center justify-content-center">
                                                                        <span class="flaticon-ecological"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                            <section class="ftco-section ftco-no-pb">
                                                <div class="container">
                                                    <div class="row justify-content-center pb-5 mb-3">
                                                        <div class="col-md-8 heading-section text-center ftco-animate">
                                                            <span class="subheading">Our Causes</span>
                                                            <h2>Donate to help us improve lives of children in need around the globe.</h2>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="causes causes-2 text-center ftco-animate">
                                                                <a href="#" class="img w-100" style="background-image: url({{ url_for('static', filename='emi/donate/education.jpg', _external=True) }});"></a>
                                                                <div class="text p-3">
                                                                    <h2>
                                                                        <a href="#">
                                                                            Help for the education of children</a>
                                                                    </h2>
                                                                    <p>We can offer them a bright if we stand shoulder to shoulder to support them.</p>
                                                                    <br><br><br>

                                                                    <p>
                                                                        <a href="#c" class="btn btn-light w-100">Donate Now</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="causes causes-2 text-center ftco-animate">
                                                                <a href="#" class="img w-100" style="background-image: url({{ url_for('static', filename='emi/images/causes-3.jpg', _external=True) }});"></a>
                                                                <div class="text p-3">
                                                                    <h2>
                                                                        <a href="#">Support for the orphanage.</a>
                                                                    </h2>
                                                                    <p>Living without their parents is their daily pain. Your help can their life story.</p>
                                                                    <br><br><br>
                                                
                                                                            <p>
                                                                                <a href="#c" class="btn btn-light w-100">Donate Now</a>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-3">
                                                                    <div class="causes causes-2 text-center ftco-animate">
                                                                        <a href="#" class="img w-100" style="background-image: url({{ url_for('static', filename='emi/profession.jpg') }});"></a>
                                                                        <div class="text p-3">
                                                                            <h2>
                                                                                <a href="#c">Professional integrate.</a>
                                                                            </h2>
                                                                            
                                                                            <p>We give young people the chance to learn new jobs and get empowered every day. They're the future of tomorrow.</p>
                                                                            <p>
                                                                                <a href="#c" class="btn btn-light w-100">Donate Now</a>
                                                                            </p> <br>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-3">
                                                                    <div class="causes causes-2 text-center ftco-animate">
                                                                        <a href="#" class="img w-100" style="background-image: url({{ url_for('static', filename='emi/donate/logement.jpg') }});"></a>
                                                                        <div class="text p-3">
                                                                            <h2>
                                                                                <a href="#">Family unification program.</a>
                                                                            </h2>
                                                                            <p>So many children lose their parents at early age and go live in the streets. Putting them in host families saves their lives.</p>
                                                                            <br>
                                                                                <p>
                                                                                    <a href="#c" class="btn btn-light w-100">Donate Now</a>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>

                                                        <section class="ftco-counter" id="section-counter">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-md-12 mb-5 mb-md-0 ">
                                                                        <h1 class="font-weight-bold text-center" style="color: #fd645b; font-size: 32px;">We are thousands of children in difficulty in Lubumbashi and in the DRC, we need your assistance. This is done by World Eye International</h1>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>

                                                        <section class="img ftco-section ftco-no-pt ftco-no-pb">
                                                            <div class="container">
                                                                <div class="row d-flex">
                                                                    <div class="col-md-6 col-lg-5 d-flex">
                                                                        <div class="img d-flex align-self-stretch align-items-center" style="background-image:url({{ url_for('static', filename='emi/images/bg_3.jpg') }});"></div>
                                                                    </div>
                                                                    <div class="col-md-6 col-lg-7 pl-lg-5 py-5">
                                                                        <div class="py-md-5">
                                                                            <div class="row justify-content-start pb-3">
                                                                                <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                                                        
                                                                                    <h2 class="mb-4">Sponsor a child</h2>
                                                                                    <p class="text-justify" >Many children leave school due to a combination of unfortunate circumstances, exposing their lives to an uncertain future. However, 
                                                                                        every child in the world, regardless of race or religion, deserves a good education, health care and basic needs 
                                                                                        (housing, food, drinking water, etc.). The sponsorship from which the children benefit allows them to have access 
                                                                                        to school and to their vital needs (health, food, drinking water, sanitation). As such, sponsorship benefits not 
                                                                                        only the child to whom it opens the doors to a better and freer future, but also an entire community.</p>
                                                                                    
                                                                                    
                                                                                    <p class="text-justify">
                                                                                        By sponsoring a child, you create a strong link with him/her, you see him/her grow and become emancipated.
                                                                                         The sponsors can, if they wish, come and visit the children they sponsor and enjoy an experience rich in 
                                                                                         emotions and memories. 
                                                                                    </p>
                                                                                    
                                                                                    <br>
                                                                                    <p class="mb-0">
                                                                                        <a href="{{url_for('projet.parrainer')}} " class="btn btn-info py-3 px-4">Sponsor a child</a>
                                                                                    </p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>


                                                        <section class="ftco-hireme bg-secondary">
                                                            <div class="container">
                                                                <div class="row justify-content-center">
                                                                    <div class="col-md-12 col-lg-8 d-flex align-items-center">
                                                                        <div class="w-100 text-center">
                                                                            <h2>
                                                                              The best way to make a difference in the lives of others is to do it differently.</h2>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>

                                                        {%if pub !=[]%}
                                                        <section class="ftco-section">
                                                            <div class="container">
                                                                <div class="row justify-content-center pb-5 mb-3">
                                                                    <div class="col-md-7 heading-section text-center ftco-animate">
                                                                        <span class="subheading">Our Blog</span>
                                                                        <h2>Latest news from our blog</h2>
                                                                    </div>
                                                                </div>
                                                                <div class="row d-flex">
                                                                    {%for i in pub%}
                                                                    <div class="col-md-4 d-flex ftco-animate">
                                                                        <div class="blog-entry align-self-stretch">
                                                                            <a href="{{url_for('projet.article', slug=i.slug)}}" class="block-20" style="background-image: url({{url_for('static', filename='publication/{}'.format(i.url_img))}});"></a>
                                                                            <div class="text p-4">
                                                                                <div class="meta mb-2">
                                                                                    <div>
                                                                                        <a href="#">{{i.date_pub.strftime('%B %d %Y')}} </a>
                                                                                    </div>
                                                                                    <div>
                                                                                        <a href="#">Admin</a>
                                                                                    </div>
                                                                                    <div>
                                                                                        <a href="#" class="meta-chat">
                                                                                            <span class="fa fa-eye">{{i.nbr_lu}} </span>
                                                                                            </a>
                                                                                    </div>
                                                                                </div>
                                                                                <h3 class="heading">
                                                                                    <a href="{{url_for('projet.article', slug=i.slug)}}">{{i.titre}}</a>
                                                                                </h3>
                                                                                <p>
                                                                                    <a href="{{url_for('projet.article', slug=i.slug)}}" class="btn btn-secondary">Read more</a>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {%endfor%}

                                                                </div>
                                                            </div>
                                                        </section>
                                                        {%endif%}

                                                        <div class="modal fade VideoPop" id="VideoV" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-body p-0">
                                                                    <iframe width="100%" height="600" src="{{video_alaune.url_media}} " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    {% endblock %}
