{% extends "layout/coedec.html" %}

{% block meta %}
<meta name="robots" content="index">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="COADEC">
<meta property="og:title" content="Vidéo">
<meta name="keywords" content="COADEC, Vidéo">
<link href="{{ url_for('static', filename='logod.png', _external=True) }} " rel="icon">
<link href="{{ url_for('static', filename='logod.png', _external=True) }}" rel="apple-touch-icon">

{% endblock meta %}

{% block css %}
<style>
    .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-player__playing {
  margin-bottom: 1.000em;
}

.video-player__thumbs {
  overflow: hidden;
}

.video-thumb {
  float: left;
  width: 23.5%;
  position: relative;
  overflow: hidden;
  padding-bottom: 13%;
  margin-bottom: 0.375em;
  cursor: pointer;
}

.video-thumb:not(:last-child) {
  margin-right: 2%;
}

.video-thumb.active {
  cursor: default;
}

.video-thumb:before,
.video-thumb:after {
  display: block;
  position: absolute;
  transition: all 250ms ease-out;
  z-index: 1;
}

.video-thumb:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(247, 148, 30, 0);
}

.video-thumb.active:before {
  background: rgba(247, 148, 30, 0.75);
}

.video-thumb:not(.active):hover:before {
  background: rgba(247, 148, 30, 0.30);
}

.video-thumb:after {
  content: "\f144";
  font-family: "FontAwesome";
  top: 50%;
  left: 50%;
  margin: -0.458em 0 0 -0.500em;
  color: rgba(255, 255, 255, 0);
  font-size: 3.000em;
  line-height: 1;
}

.video-thumb.active:after {
  color: rgba(255, 255, 255, 1);
}

.video-thumb img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
</style>
<title>Média </title>

{%endblock%}


{% block body %}
{% include'element/menu.html'%}

<section class="hero-wrap hero-wrap-2"
    style="background-image: url('{{url_for('static', filename='coedac/images/media.jpg')}}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-2 bread">Médias </h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('coedac.accueil')}}">Acceuil <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Vidéo</span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
              {%if audio.items|length > 0%}
                <div class="video-player">
                    <div class="video-player__playing">
                      <div class="embed-container">
                        <div id="player"></div>
                      </div>
                    </div>
                    <div class="video-player__thumbs">
                      {%for i in liste_transfert%}
                      <div data-video="{{i}}" class="video-thumb box-shadow--2dp"><img  style="max-width:100%; height:auto" src="{{url_for('static', filename='oeuvre.png')}}"></div>
                      {%endfor%}
                    </div>
                </div>
                {%if audio.items|length>3%}
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                {% for page_num in audio.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                {% if page_num %}
                                    {% if audio.page==page_num %}
                                    <li>
                                        <a href="{{ url_for('coedac.medias', page=page_num) }}" class="active">
                                           {{page_num}}</i>
                                        </a> 
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="{{ url_for('coedac.medias', page=page_num) }}">
                                            {{page_num}}</i>
                                        </a>
                                    </li>                       
                                    {% endif %}
                                {% else %}
                                ...
                                {% endif %}
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>

                {%endif%}
                {%else%}

                <p class="text-center" style="margin-top:100px">
                    <i class="fa fa-youtube success fa-5x text-center"></i>
                <h4 class="text-center">AUCUNE VIDEO DISPONIBLE .</h4>
                <br><br><br><br><br><br>
                </p>

                {%endif%}

            </div>
            <div class="col-lg-4 sidebar ftco-animate">
                {% include'element/media.html'%}

                {%if post_recent!=[]%}
                    {% include'element/post.html'%}
                {%endif%}

            </div>

        </div>
    </div>
</section>

{% endblock body %}

{% block js %}
<script>
    var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player;

function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: '315',
    width: '560',
    videoId: '{{liste_transfert[0]}}',
    events: {
      'onReady': function() {
        $(".video-thumb").click(function() {
          var $this = $(this);
          if (!$this.hasClass("active")) {
            player.loadVideoById($this.attr("data-video"));
                        $this.addClass("active").siblings().removeClass("active");
          }
        });
      }
    }
  });
}
</script>

{% endblock %}