{% extends "layout/emi.html" %}
{% block meta %}
<meta name="robots" content="index">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="World Eye International">
<meta property="og:title" content="Sponsor">
<meta name="keywords" content="World Eye International, sponsor">
<link href="{{ url_for('static', filename='logo.png', _external=True) }}" rel="icon">
<link href="{{ url_for('static', filename='logo.png', _external=True) }}" rel="apple-touch-icon">

{% endblock meta %}

{% block css %}
<link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='plugins/flaticon/css/flaticon.css')}}" rel="stylesheet">

  <!-- JS -->
  
 
<style>
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:500px; 
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  /* height: 200px;  */
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.stages {
	font-size: 0;
	text-align: justify;
}

.stages:after {
	content: '';
	display: inline-block;
	font-size: 0;
	text-align: justify;
	width: 100%;
}

input[type="radio"] {
	display: none;
}

.stages label {
	background: #ffffff;
	border: solid 5px #c0c0c0;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 50px;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.stages label:after {
	content: '\2713';
	color: #ffb400;
	display: inline-block;
	font-size: 16px;
}

#one:checked ~ .stages label[for="one"],
#two:checked ~ .stages label[for="two"],
#three:checked ~ .stages label[for="three"],
#four:checked ~ .stages label[for="four"],
#five:checked ~ .stages label[for="five"],
#six:checked ~ .stages label[for="six"] {
	border-color: #ffb400;
}

.stages label.active{
	border-color: purple !important;
}

#one:checked ~ .stages label,
#two:checked ~ .stages label[for="one"] ~ label,
#three:checked ~ .stages label[for="two"] ~ label,
#four:checked ~ .stages label[for="three"] ~ label,
#five:checked ~ .stages label[for="four"] ~ label,
#six:checked ~ .stages label[for="five"] ~ label {
	font-size: 1rem;
}

#one:checked ~ .stages label:after,
#two:checked ~ .stages label[for="one"] ~ label:after,
#three:checked ~ .stages label[for="two"] ~ label:after,
#four:checked ~ .stages label[for="three"] ~ label:after,
#five:checked ~ .stages label[for="four"] ~ label:after,
#six:checked ~ .stages label[for="five"] ~ label:after {
	display: none;
}

.progress > span {
	background: #c0c0c0;
	display: inline-block;
	height: 5px;
	transform: translateY(-2.75em);
	transition: 0.3s;
	width: 0;
}

#two:checked ~ .progress span {
	width: calc(100% / 5 * 1);
}

#three:checked ~ .progress span {
	width: calc(100% / 5 * 2);
}

#four:checked ~ .progress span {
	width: calc(100% / 5 * 3);
}

#five:checked ~ .progress span {
	width: calc(100% / 5 * 4);
}

#six:checked ~ .progress span {
	width: calc(100% / 5 * 5);
}

.panels div {
	display: none;
}

#one:checked ~ .panels [data-panel="one"],
#two:checked ~ .panels [data-panel="two"],
#three:checked ~ .panels [data-panel="three"],
#four:checked ~ .panels [data-panel="four"],
#five:checked ~ .panels [data-panel="five"],
#six:checked ~ .panels [data-panel="six"] {
	display: block;
}
/* Custom code for the demo */



.panels div {
	border-top: solid 1px #c0c0c0;
	margin: 1em 0 0;
	padding: 1em 0 0;
}

input {
	box-sizing: border-box;
	display: block;
	padding: .4em;
	width: 100%;
}

button {
	background-color: #ffb400;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	font-weight: 700;
	margin: 1em 0 0 0;
	padding: 1em;
}

button:hover {
	opacity: 0.8;
}




.services-section {
    padding: 0;
}
.services {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    padding: 40px 25px;
}
@media(max-width:991.98px) {
    .services {
    padding: 10px 0;
}
}.services .icon {
    line-height: 1.3;
    position: relative;
}
.services .icon span {
    font-size: 60px;
    color: rgba(0, 0, 0, .2);
}
.services .media-body h3 {
    font-size: 22px;
    font-weight: 900;
}
@media(min-width:992px) {
    .services.active {
    background: #ffb400;
    color: #000;
}
.services.active .icon span {
    color: #fff;
}
}.services:hover, .services:focus {
    background: #ffb400;
    color: #000;
}
.services:hover .icon span, .services:focus .icon span {
    color: #fff;
}

</style>
{% endblock %}

{% block body %}

    {% include 'element/menu.html' %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('{{ url_for('static', filename='emi/images/causes-2.jpg') }}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2">
                        <span class="mr-2">
                            <a href="{{ url_for('projet.accueil') }}">Home
                                <i class="ion-ios-arrow-forward"></i>
                            </a>
                        </span>
                        <span>Sponsor
                            <i class="ion-ios-arrow-forward"></i>
                        </span>
                    </p>
                    <h1 class="mb-0 bread">Child</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="services-section py-5 py-md-0 bg-light">
        <div class="container">
           <div class="row no-gutters d-flex">
              <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                 <div class="media block-6 active services d-block">
                    <div class="icon"><span class="fa fa-users"></span></div>
                    <div class="media-body">
                       <h3 class="heading mb-3">Family reunification</h3>
                       <p> We place children separated from their families in foster families. This provides them with a good environment for their growth. </p>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                 <div class="media block-6 services d-block">
                    <div class="icon"><span class="fa fa-money"></span></div>
                    <div class="media-body">
                       <h3 class="heading mb-3">Empowerment</h3>
                       <p>We strengthen the economic and social empowerment of young people in order to fight against poverty and make them more useful to the community. .</p>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                 <div class="media block-6 services d-block">
                    <div class="icon"><span class="fa fa-shield"></span></div>
                    <div class="media-body">
                       <h3 class="heading mb-3">Protection</h3>
                       <p>We fight all forms of violence, exploitation and abuse inflicted on children. This is our daily duty, give to children a bright future.</p>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                 <div class="media block-6 services d-block">
                    <div class="icon"><span class="fa fa-graduation-cap"></span></div>
                    <div class="media-body">
                       <h3 class="heading mb-3">Education</h3>
                       <p>We pay school fees for orphaned children and those formerly living on the streets. We are convinced that education is the right of every child.  </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <a class="img-card">
                        <img src="{{url_for('static', filename='rubrique/{}'.format(enfant.image_rubrique))}}" height="120px" class="img-fluid" />
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href=""> {{enfant.noms}}
                              </a>
                            </h4>
                            <p class="">
                                {{enfant.resume|safe}}
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="" class="btn btn-link btn-block">
                                {{ age_naissance(enfant.date_de_naissance) }} years old
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6" >
                    <h3 class="heading mb-3"> Amount: <b>$ {{session["montant"]}} per month.</b> </h3>
                    <p>
                        
                        <hr>
                        <b>Notice:</b> The sponsorship amount is monthly, the effect of accepting this condition, you will receive notification messages for reminder via your 
                        email address. if you do not agree click <a href="{{url_for('projet.accueil')}}" class="info">here</a> to cancel your sponsorship.
                        
                    </p>

                    <div class="text-center">
                        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                        <div id="paypal-button-container"></div>
             
                        <script>
                            var csrf_token = "{{ csrf_token() }}";
            
                            paypal.Button.render({
                              env: 'production', // Or 'production' 'sandbox'
                              //env: 'sandbox', // Or 'production' 'sandbox'
                              // Set up the payment:
                              // 1. Add a payment callback
                              payment: function(data, actions) {
                                // 2. Make a request to your server
                                return actions.request.get("{{url_for('projet.payement_sponsor',  _external=True)}} ")
                                  .then(function(res) {
                                    // 3. Return res.id from the response
                                    return res.paymentID;
                                  });
                              },
                              // Execute the payment: 
                              // 1. Add an onAuthorize callback
                              onAuthorize: function(data, actions) {
                                // 2. Make a request to your server
                                return actions.request.post("{{url_for('projet.execute_sponsor',  _external=True)}}", {
                                  paymentID: data.paymentID,
                                  payerID:   data.payerID
                                }, {
                                    headers: {
                                        'X-CSRFToken': csrf_token,
                                    }
                                }
                                
                                
                                )
                                  .then(function(res) {
                                    window.setTimeout(function(){
                                    // Move to a new location or you can do something else
                                    location.replace("{{url_for('projet.sponsor_conform')}}");
                                    }, 1000); 
            
                                  });
                              }
                            }, '#paypal-button-container');
                          </script>

                    </div>

                </div>
            </div>
        </div>
    </section>
    

{% endblock %}

