{% extends "layout/admini.html" %}
{% block css %}
<link href="{{ url_for('static', filename='plugins/mp3-audio.css')}}" rel="stylesheet">

{%endblock%}

{% block body %}
<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
    <h3>Média audio</h3>
    <br>
    <a href="{{url_for('media.ajouter')}} " class="d-none d-md-inline-block btn btn-md btn-info shadow-md">
    <i class="fa fa-music fa-md text-white-50"></i> Ajouter audio</a>
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
      <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('main.dashboard')}}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{url_for('media.index_audio')}}">Média audio</a></li>
          </ol>
      </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <br>
      {% with messages= get_flashed_messages(with_categories=true) %}
                  {% if messages  %}
                      {% for category, message in messages %}
                          <div class="alert text-center alert-{{ category }}">
                              <b>{{ message }}</b>
                          </div>
                      {% endfor %}
                  {% endif %}
                  {% endwith %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="row">
        {%if listes !=[]%} 
        {%for audio in listes%}
        
        <div class="col-md-3">
          <div class="card">
            <div class="card-block" style="margin: 2px;">
              <h4 class="card-title text-left">Titre: {{audio.titre}}</h4>
              <div class="mp3-audio">
                <audio controls class="mp3-auido">
                  <source src="{{audio.url_media}}" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
               <span class="justify-content-center">
                 <a href="{{url_for('media.sup_audio',media_id=audio.id)}}" onclick="return confirm('Voulez-vous vraiment suprimer cette audio?')"><i class="fa fa-close"></i> </a>
                {%if audio.statut==True%}
                  <a href="{{url_for('media.statut_audio',media_id=audio.id)}}"><i class="fa fa-unlock"></i> </a>
                {%else%}
                <a href="{{url_for('media.statut_audio',media_id=audio.id)}}"><i class="fa fa-lock"></i> </a>
                {%endif%}
                <a href="{{url_for('media.edit_audio',media_id=audio.id)}}"><i class="fa fa-edit"></i> </a>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
        {%endfor%}
      
        {%else%}
          <div class="col-md-12">
            <p class="text-center" style="margin-top:100px">
                <i class="fa fa-music success fa-5x text-center"></i>
                <h4 class="text-center">AUCUNE AUDIO .</h4>
                <br><br><br><br><br><br>
            </p>
          </div>
        {%endif%}
  </div>
</div>

</div>


{% endblock body %}

{%block jsblock%}
{% endblock %}
